name: Build & Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    name: Build for Win/Linux/macOS
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build React
        run: CI=false npm run build

      - name: Build Electron App
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run dist:all

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: AuthNo-${{ matrix.os }}
          path: dist/
